/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }
 .root {
   min-width: 900px;
 }
.header-nav {
  background: grey;
  opacity: 1;
  height: 40px;
  width: 1200px;
  /*display: inline-block;*/
  position: fixed;
}
.header-nav h1{
  font-size: 20px;
}
.login-form-container {
  background: lightgrey;
  width: 500px;
  height: 300px;
  margin-top: 170px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  border-radius: 13px;
  opacity: 50%;
}
.login-form-box {
  font-family: sans-serif;
  padding: 20px;
  align-content: center;
  position: relative;

}
.button {
    background-color:#d9d9d9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    margin: 10px;
}
.button:hover {
  background-color: #cccccc;
}

.first-form {
  margin: 10px;
  display:inline-block;
}

.login-input {
  background: white;
  margin-left: 5px;
  border-radius: 4px;
}
