/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}*/
*{
  font-family: 'Roboto', sans-serif;
}
img:hover {
  opacity: 0.9;
}
ul {
list-style-type: none;
}
a:link{
  text-decoration:none;
  color: steelblue;
}
a:visited{
  text-decoration:none;
  color: steelblue;
}
a:hover {
  text-decoration-color: red;
}

.splash-background {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(http://res.cloudinary.com/dt5viyxyq/image/upload/v1472602002/background_wykesg.jpg);
  background-size:contain;
  width: 100%;
  background-repeat: no-repeat;
  height: 1000px;
  position: absolute;
  z-index: -1;
  background-size: cover;
}
.splash-logo {
  color: white;
  font-size: 150px;
  font-family: 'Roboto', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  padding-top: 20px;

}
.logo-letter {
  font-size: 160px;
  font-style: italic;
  color: steelblue;
  font-weight: 500;
}
.tagline {
  display: inline-block;
  color: white;
  font-family: 'Muli', sans-serif;
  font-weight: lighter;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  padding-left: 300px;
  font-size: 30px;
}
 .root {
   min-width: 900px;
 }
/*.header-nav {
  background: lightgrey;
  height: 100px;
  width: 960px;
  position: absolute;
}*/
/*.header-nav { list-style: none;
    font-weight: bold;
    margin-bottom: 8px;
    width: 100%;

    background-color: lightgrey;
    height:50px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccc2c2), color-stop(15%, #cccccc), color-stop(100%, #fffcfc))
}*/
.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 54px;
  background-color: #9AC1CE;
  /*background-color: rgba(255,255,255,0.95)*/
  /*background-color: rgba(249, 244, 244, 0.95);*/
  background-color: rgba(243, 241, 239, 0.95)
}
.right-nav {
  float: right;
  margin-right: 77px;
}
.right-nav li {
  list-style-type: none;
  display: inline;
}
.header-name {
  color: #356E82;
  padding-right: 10px;
  letter-spacing: 3px;
  font-size: 20px;

}
.prof-icon img{
  border-radius: 30px;
  width: 47px;
  margin-top: 3px;
}
.icon {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: italic;
  float: left;
  padding-left: 37px;
  margin-bottom: 3px;
  cursor: url("http://res.cloudinary.com/dt5viyxyq/image/upload/c_thumb,h_25/v1472684324/home-128_zzhumx.png"), auto;
}
.login-signup a:link{
  font-size: 20px;
  padding: 10px 10px;
}

/*.login-form-container {
  background: lightgrey;
  width: 500px;
  height: 300px;
  position: relative;
  border-radius: 20px;
}*/
.login-form-container {

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  height: 270px;
  width: 400px;
  padding: 20px;
  background-color: lightgrey;

  /* outer shadows  (note the rgba is red, green, blue, alpha) */
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

  /* rounded corners */
  -webkit-border-radius: 12px;
  -moz-border-radius: 7px;
  border-radius: 3px;

  /* gradients */

  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(15%, #fffcfc), color-stop(100%, #fffcfc));
}
.login-form-box {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  align-content: center;
  position: relative;
}
.login-form {
  font-family: 'Roboto', sans-serif;
}

.form-label {
  padding-right: 10px;
  font-weight:100;
  font-size: 15px;
  letter-spacing: 2px;
}
.form-label input {
  height: 25px;
  width: 200px;
}
.splash-button {
    background-color:#eee;
    border: none;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    margin: 25px 17px;
}
.splash-button:hover {
  background-color: #cccccc;
}

.first-form {
  font-weight: bold;
  margin: 10px;
  display:inline-block;
}

.header-group {
  float: right;
}


.explore-text {
  padding-left: 50px;
  padding-top: 50px;
  letter-spacing: 7px;
  font-size: 50px;
}
.header-button {
    float: left;
    background-color: white;
    border: none;
    color: grey;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    border-radius: 5px;
    outline: none;
    margin: 10px 40px;
}
.header-button:hover {
  background-color: #cccccc;
}


.landing-photo-grid {
  list-style: none;
  min-width: 900px;
  /*display: flex;*/
  margin: 0;
  padding: 0;
}
.landing-photo-grid li {
  /*flex: 3 1 100px;*/
  display: inline-block;
  width: 50%;
  height:50%;
  zoom: 1;         /* for IE */
  display*:inline;
}
/*.landing-photo-grid li:nth-child(1) {
  flex: 1 1 100px;
}*/
.landing-photo-grid img {
  width: 80%;
  height: inherit;

}
div.modal-container img{
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
  max-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
