<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneProject</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Muli" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
